@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure OpenAI GPT</h1>
    <p>Your friend to get an answer!!!</a>.</p>
    <form>
        <p>
            Ask Me: <input type="text" asp-for="SearchString" size="100" />
            <input type="submit" value="Go" />            
        </p>
        <p>
            <textarea class="form-control" cols="20" id="txtResponse" name="txtResponse" rows="20" asp-for="ChatGPTResponseString"></textarea>
        </p>
    </form>

</div>
